/* Tweak table styling to my preference */
.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 0px solid;
}

:root {
    /* Override the ugly default uppercase headings */
    --r-heading-text-transform: none
}

/* Reset the default dimming effect on non-highlighted lines */
.reveal .hljs.has-highlights tr:not(.highlight-line) {
    opacity: 1;
}

/* Add a background color to the highlighted line */
.reveal .hljs.has-highlights tr.highlight-line {
    background-color: rgba(255, 255, 100, 0.4); /* Semi-transparent yellow */
}
